<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <keepAliveDuration>5 minutes</keepAliveDuration>
        <reconnectionDelay>10 second</reconnectionDelay>
        <waitStrategyType>sleeping</waitStrategyType>
        <destination>127.0.0.1:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <context/>
                <logLevel/>
                <loggerName/>
                <pattern>
                    {
                    "timestamp": "%date{\"yyyy-MM-dd'T'HH:mm:ss,SSSXXX\", UTC}",
                    "level": "%level",
                    "logger": "%logger",
                    "message": "%message",
                    "logstashMarkers": "%marker"
                    }
                </pattern>
                <threadName/>
                <message/>
                <logstashMarkers/>
                <arguments/>
                <stackTrace>
                    <fieldName>stackTrace</fieldName>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <exclude>net\.sf\.cglib\..*</exclude>
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>>%-4relative %yellow(%d{HH:mm:ss.SSS}) %green([%thread]) %highlight(%-5level) %cyan(%logger{50}) -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stash"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>